.parcours {
    width: 100%;
    background-color: rgb(243, 243, 243);
    padding: 80px 0px 60px 0px;
    display: flex;
    flex-direction: column;
}

.titre {
    padding-bottom: 40px;
    font-size: 35px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerParcours {
    margin: 0 15%;
}

.box {
    padding: 20px 40px;
    margin-bottom: 40px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.16);
}

.box h2 {
    color: rgb(125, 32, 32);
    margin-bottom: 10px;
}

.timeline {
    position: relative;
    /* max-width: 1200px; */
    /* margin: 0 auto; */
    max-width: 100%;
    margin-top: 40px;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 15%;
    margin-left: -3px;
}

.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 80%;
}

.container::after {
    content:'';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid rgb(125, 32, 32);
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.left {
    left: 0;
}

.right {
    left: 15%;
}

.left::before {
    content: '';
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

.right::before {
    content: '';
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

.right::after {
    left: -16px;
}

.content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}

@media screen and (max-width: 930px) {
    .containerParcours {
        margin: 0 5%;
    }
}

@media screen and (max-width: 700px) {
    .parcours {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 550px) {
    .box ul {
        padding: 5px;
    }
}

@media screen and (max-width: 430px) {
    .cont {
        padding-left: 5%;
    }

    .list {
        gap: 20px;
    }
}