.aPropos {
    width: 100%;
    background-color: rgb(243, 243, 243);
    padding: 80px 0px 60px 0px;
    display: flex;
    flex-direction: column;
}

.containerAPP {
    display: flex;
    justify-content: space-between;
    margin: 0 15%;
    font-size: 17px;
}

.descId {
    line-height: 30px;
    width: 100%;
    font-size: 16px;
    margin-right: 20px;
}

.descId ul {
    list-style: none;
    padding-left: 0;
}

.photo {
    max-width: 350px;
    width: 100%;
}

.buttonCV {
    margin-top: 20px;
    padding: 20px;
    border-radius: 40px;
    font-weight: bold;
    font-size: 16px;
    border: 2px solid black;
    background-color: rgb(90, 141, 245);
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: 200ms ease-in-out;
}

.buttonCV:hover {
    color: white;
    background: rgb(125, 32, 32);
    border: 2px solid white;
    transition: all .2s;
    transform: translateY(-7px);
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.6);
}

.desc {
    padding-left: 40px;
}

.desc h2 {
    padding-bottom: 25px;
    font-size: 35px;
}

.desc p {
    padding: 10px 0px;
    line-height: 35px;
}

@media screen and (max-width: 930px) {
    .containerAPP {
        flex-direction: column;
    }

    .descId {
        display: flex;
        margin-bottom: 40px;
    }

    .descId ul {
        padding-left: 40px;
    }

    .photo {
        margin: 0;
        height: 100%;
    }

    .desc {
        padding-left: 0;
    }
}

@media screen and (max-width: 700px) {
    .descId {
        flex-direction: column;
        align-items: center;
    }

    .descId ul {
        padding-left: 0;
    }

    .photo {
        margin-bottom: 20px;
    }
}