.home {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15%;
}

.preTitre {
    font-size: clamp(15px, 5vw, 40px);
    font-style: italic;
}

.title {
    font-size: clamp(25px, 5vw, 80px);
    font-style: normal;
    font-weight: bold;
    margin: 15px 0px;
}

@media screen and (max-width: 600px) {
    .home {
        padding: 15% 5% 5% 5%;
    }
}