* {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Montserrat' !important;
}

body {
    height: 100%;
    position: relative;
    background-image: url("../src/assets/fond_dev.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.up {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.arrowUp {
    opacity: 0.5;
    font-size: 70px;
    color: rgb(89, 141, 245);
    z-index: 1000;
}

.arrowUp:hover {
    color: #7d2020;
    transition: 200ms ease-in-out;
}